
.row-general{
    height: 100vh;
    overflow: hidden
}

.menu-items{
    height: 100%;
    background-color: #f5f5f5;
}

.header-pedido{
    height: 150px;
    justify-items: center;
    justify-content: center;
}

.tittle-pedido{
    font-size: 35px;
}

.div-opciones-pedido{
    justify-content: center;
}

:host ::ng-deep .btn-opc-menu{
    color: black;
    background-color: white;
    border-color: #ff7102;
    border: none;
}

:host ::ng-deep .btn-opc-menu:hover{
    background-color: #ff7102;
    border-color: #ff7102;
    border: none;
}

:host ::ng-deep .active{
    background-color: #ff7102;
    border-color: #ff7102;
    color: white;
}

.btn-carrito{
    background-color: #ff7102;
    border-color: #ff7102;
    color: white;
    position: relative;
    right: 0px;
}

.card-item{
    width: 18rem;
    border: none;
}

.img-item{
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.row-item-products{
    height:  80vh;
    overflow: auto;
}

.tittle-orden{
    font-size: 30px;
}

.div-img-orden{
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
}

.img-order{
    height: 100%;
    object-fit: cover;
}

.rows-item-orden{
    width: 100%;
    height: 70%;
}

.div-card-order{
    width: 400px;
    height: 100px;
}

.div-img-order{
    max-height: 100px;
}


.btn-amount{
    background-color: #ff7102;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}

.btn-amount:hover{
    background-color: white;
    color: #ff7102;
    cursor: pointer;
}

.div-amount{
    width: 25px;
    text-align: center;
}

.div-order-null{
    position: relative;
    top: 20%;
    font-size: 25px;
    vertical-align: middle;
    text-align: center;
}

.i-orden-null{
    font-size: 40px;
}
