<div class="row row-general">
    <div class="col-9 menu-items">
        <div class="row header-pedido align-items-center p-3">
            <div class="col-6 ">
                <p class="tittle-pedido"><strong>Birrieria ElKompare</strong></p>
                <p>Punto de ventas del local Birrieria ElKompare</p>
            </div>
            <div class="col-6 ">
                <p-iconfield>
                    <input type="text" pInputText placeholder="Search" class="form-control" />
                    <p-inputicon styleClass="pi pi-search" />
                </p-iconfield>
            </div>
        </div>
        <div class="row div-opciones-pedido p-2">
            <div class="col-8 row" >
                @for(item of ocpFiltros; track item.id){
                    <div class="col text-center">
                        <p-button label="{{item.title}}" icon="{{item.icon}}" [styleClass]="'btn-opc-menu ' + (item.active ? 'active' : '')"   (click)="onSelectItem(item)"/>
                    </div>
                }
                
            </div>
            
        </div>
        <div class="row p-3 row-item-products">
            @for(item of itemsProduct; track item.id){
                <div class="card card-item m-3 p-2">
                    <img src="../../../assets/img/{{item.image}}" class="card-img-top img-item" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{item.nomProduct}}</h5>
                      <p class="card-text">{{item.description}}</p>
                      <div class="text-end">
                        <a class="btn btn-primary btn-carrito">
                            <i class="bi bi-cart"></i>
                        </a>
                      </div>
                      
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-3 pedido"></div>
</div>