<div class="row h-100">
    <div class="col-9 menu-items">
        <div class="row header-pedido align-items-center p-3">
            <div class="col-6 ">
                <p class="tittle-pedido"><strong>Titulo</strong></p>
                <p>Aplicacion web para punto de venta en restaurantes y comercios similares</p>
            </div>
            <div class="col-6 ">
                <p-iconfield>
                    <input type="text" pInputText placeholder="Search" class="form-control" />
                    <p-inputicon styleClass="pi pi-search" />
                </p-iconfield>
            </div>
        </div>
        <div class="row div-opciones-pedido p-2">
            <div class="col-8 row" >
                <div class="col text-center">
                    <p-button label="Favoritos" icon="pi pi-star" styleClass="btn-opc-menu" />
                </div>
                <div class="col text-center">
                    <p-button label="Desayunos" icon="pi pi-sun" styleClass="btn-opc-menu" />
                </div>
                <div class="col text-center">
                    <p-button label="Profile" icon="pi pi-user" styleClass="btn-opc-menu" />
                </div>
                <div class="col text-center">
                    <p-button label="Profile" icon="pi pi-user"  styleClass="btn-opc-menu"/>
                </div>
                <div class="col text-center">
                    <p-button label="Profile" icon="pi pi-user" styleClass="btn-opc-menu" />
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-3 pedido"></div>
</div>