<div class="row row-general">
    <div class="col-9 menu-items">
        <div class="row header-pedido align-items-center p-3">
            <div class="col-6 ">
                <p class="tittle-pedido"><strong>Birrieria ElKompare</strong></p>
            </div>
            <div class="col-6 ">
                <p-iconfield>
                    <input type="text" pInputText placeholder="Search" class="form-control" />
                    <p-inputicon styleClass="pi pi-search" />
                </p-iconfield>
            </div>
        </div>
        <div class="row div-opciones-pedido p-2">
            <div class="col-8 row" >
                @for(item of ocpFiltros; track item.id){
                    <div class="col text-center mt-2">
                        <p-button label="{{item.title}}" icon="{{item.icon}}" [styleClass]="'btn-opc-menu ' + (item.active ? 'active' : '')"   (click)="onSelectItem(item)"/>
                    </div>
                }
                
            </div>
            
        </div>
        <div class="row p-3 row-item-products">
            @for(item of itemsProduct; track item.id){
                <div class="card card-item m-3 p-2">
                    <img src="../../../assets/img/{{item.image}}" class="card-img-top img-item" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{item.nomProduct}}</h5>
                      <p class="card-text">{{item.description}}</p>
                      <div class="text-end">
                        <a class="btn btn-primary btn-carrito" (click)="onAddProduct(item)">
                            <i class="bi bi-cart"></i>
                        </a>
                      </div>
                      
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-3 pedido">
        <div class="row row-title-orden mt-5">
            <p class="tittle-orden"><strong>Orden Actual</strong></p>
        </div>
        <div class="rows-item-orden  overflow-auto">
            @for(item of ordenActual.orderProduct; track item.products.id; let i = $index){
                <div class="card mb-3 border-0 " >
                    <div class="row g-0 div-card-order ">
                        <div class="col-md-3 div-img-order" >
                            <img src="../../../assets/img/{{item.products.image}}" class="img-fluid rounded-start rounded img-order" >
                        </div>
                        <div class="col-md-8 div-body-order">
                            <div class="card-body div-card-body">
                                <h5 class="card-title">{{item.products.nomProduct}}</h5>
                                <div class="card-text div-card-text">
                                    <div class="d-inline-block w-50">
                                        ${{item.products.price * item.amount }} 
                                    </div>
                                    <div class="d-inline-block w-50 text-end">
                                        <div class="d-inline-block btn-amount" (click)="onDeleteProduct(item.products)">-</div>
                                        <div class="d-inline-block div-amount">{{item.amount}}</div>
                                        <div class="d-inline-block bi bi-plus btn-amount" (click)="onAddProduct(item.products)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if(ordenActual.orderProduct.length == 0){
                <div class="div-order-null">
                    <i class="bi bi-exclamation-circle-fill i-orden-null"></i>
                    <p>No hay productos seleccionados</p>
                </div>
                
            }
        </div>
        <div class="btn-guardar-order">
            <button type="button" class="btn btn-success btn-pedido">Realizar Orden</button>
        </div>
        
    </div>
</div>