<div class="row text-center header mt-3">
    <div class="col-4">
        
    </div>
    <div class="col-4">
        
    </div>
    <div class="col-4">
        
    </div>
    

</div>
<div class="row text-center">
    <div class="col text-center mt-5" *ngFor="let item of items">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <a href="#" class="btn btn-primary">Ir</a>
            </div>
        </div>
    </div>
</div>