$rojo: #D32F2F;
$amarillo: #FFC107;
$verde: #388E3C;
$blanco: #FFFFFF;


$rojo2: #8B0000;
$amarillo: #FFB300;
$marron: #795548;
$verde2: #A5D6A7;


$rojo3: #E53935;
$naranje: #FF7043;
$negro: #212121;
$beige: #FFF8E1;