.custom-modal-class .p-dialog-header {
    text-align: center;
}


.custom-accordion .p-accordion-header-link {
    background-color: white;
    color: black;
    text-decoration: none;
    border-width: 0px 0px 0px 0px;
    border-color: gray;
}

.custom-accordion .p-accordion-content {
    border: 0;
}

.p-button {
    border-radius: 4px;
}


